@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	section:first-of-type {
		padding-top: 4rem;
	}

	section {
		padding: 10rem 2rem;
	}
	  
	hr {
		padding-bottom: 1rem;
	}

	.svg-spacer {
		position: absolute;
		bottom: 0;
		aspect-ratio: 900/600;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.wave {
		background-image: url('../../public/wave.svg');
	}

	.echo-container {
		position: relative;
		background: linear-gradient(135deg, #6a11cb, #2575fc);
		color: white;
	}

	.echo {
		position: relative;
		padding: 20px;
		border-radius: 10px;
		text-align: center;
		z-index: 5;
	}

	.echo::before {
		content: "";
		position: absolute;
		top: -20px;
		left: -20px;
		right: -20px;
		bottom: -20px;
		background: inherit;
		border-radius: inherit;
		backdrop-filter: blur(15px);
		box-shadow: 
		  0 0 0 10px rgba(255, 255, 255, 0.1),
		  0 0 0 20px rgba(255, 255, 255, 0.05),
		  0 0 0 30px rgba(255, 255, 255, 0.025);
		z-index: -1;
	}

	@media screen and (min-width: 992px) {
		section:first-of-type {
			padding-top: 8rem;
		}

		section {
			padding: 10rem;
		}
	}
}