@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	section {
		position: relative;
		padding: 10rem 2rem;
	}

	/* Target first component of each page */
	nav + *:not(.echo-container) {
		padding-top: 6rem;
	}
	  
	hr {
		padding-bottom: 1rem;
	}

	.svg-spacer {
		position: absolute;
		bottom: 0;
		aspect-ratio: 900/600;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.wave {
		background-image: url('../../public/wave.svg');
	}

	#blob {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
	}

	.gradient-container {
		position: relative;
		background: linear-gradient(135deg, #6a11cb, #2575fc);
		color: white;
	}

	.echo::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		backdrop-filter: blur(15px);
		z-index: -1;
	}

	.parallax {
		position: relative;
		min-height: 500px;
		background-attachment: scroll;
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.parallax h2::after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: black;
		opacity: .3;
	}

	@media screen and (min-width: 992px) {
		section {
			padding: 10rem;
		}
		
		nav + *:not(.echo-container) {
			padding-top: 8rem;
		}

		.parallax {
			background-attachment: fixed;
		}
	}
}