@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.main-content {
		padding-top: 10rem;
		padding-bottom: 10rem;
		margin-left: 10rem;
		margin-right: 10rem;
		hr {
			padding-bottom: 1rem;
		}
	}

	@media print {
		.main-content {
			padding: 5rem 0 0 0;
		}

		nav, footer {
			display: none;
		}
	}
}